<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yangshengzhou.lucky_sms.mapper.UserMapper">
    <select id="loginByPhone" resultType="com.yangshengzhou.lucky_sms.vo.user.LoginVO">
        SELECT
            u.user_id AS uid,
            u.username,
            u.phone,
            ut.type_code AS role
        FROM users u
        LEFT JOIN user_types ut ON u.user_type_id = ut.user_type_id
        WHERE u.phone = #{phone}
          AND u.deleted = 0
    </select>

    <insert id="registerByPhone">
        INSERT INTO users (phone, username, password, user_type_id, status_id) 
        VALUES (#{phone}, CONCAT('user_', #{phone}), '123456', 3, 1)
    </insert>

    <update id="resetPasswordByPhone">
        UPDATE users
        SET password = #{password}
        WHERE phone = #{phone}
          AND deleted = 0
    </update>

    <select id="loginByPassword" resultType="com.yangshengzhou.lucky_sms.vo.user.LoginVO">
        SELECT
            u.user_id AS uid,
            u.username,
            u.phone,
            ut.type_code AS role
        FROM users u
        LEFT JOIN user_types ut ON u.user_type_id = ut.user_type_id
        WHERE u.phone = #{phone}
          AND u.password = #{password}
          AND u.deleted = 0
    </select>
</mapper>
